aiofiles==24.1.0
asgiref==3.9.1
blinker==1.9.0
click==8.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
Hypercorn==0.17.3
hyperframe==6.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.2
numpy-stl==3.2.0
priority==2.0.0
python-utils==3.9.1
PyYAML==6.0.2
Quart==0.20.0
typing_extensions==4.15.0
Werkzeug==3.1.3
wsproto==1.2.0
